@model Bug_Tracking_System.Models.BugViewModel

@{
    ViewData["Title"] = "BugReport";
}

<h1>Bug Report Generator</h1>

<br/>

<form asp-controller="Bug" asp-action="BugReport" method="GET">
    <p>
        Status:
        <select asp-for="BugStatus">
            <option value="">All</option>
            <option value="New">New</option>
            <option value="Declined">Declined</option>
            <option value="Open">Open</option>
            <option value="Reopen">Reopen</option>
            <option value="Fixed">Fixed</option>
            <option value="Closed">Closed</option>
        </select>

        Rating:
        <select asp-for="Rating">
            <option value="">All</option>
            <option value="1">1-5</option>
            <option value="6">6-10</option>
            <option value="11">11-15</option>
            <option value="16">16-20</option>
            <option value="21">21-25</option>
        </select>

        Tester:
        <select asp-for="BugTester" asp-items="Model.Tester">
            <option value="">All</option>
        </select>

        <br/><br/>

        Project:
        <select asp-for="BugProject" asp-items="Model.Project">
            <option value="">All</option>
        </select>

        SubProject:
        <select asp-for="BugSubProject" asp-items="Model.SubProject">
            <option value="">All</option>
        </select>

        Developer:
        <select asp-for="BugDeveloper" asp-items="Model.Developer">
            <option value="">All</option>
        </select>

        Bug Name: <input type="text" asp-for="searchString">

        <br/><br/>

        Create Time Range:
        <input type="text" id="start_date" value="1000/1/1" asp-for="start_date"> - <input type="text" id="end_date" value="3000/1/1" asp-for="end_date">

        Close Time Range:
        <input type="text" id="close_start_date" value="1000/1/1" asp-for="close_start_date"> - <input type="text" id="close_end_date" value="3000/1/1" asp-for="close_end_date">

        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].BugName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].BugStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Severity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].ModifyTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].CloseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].SubProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].TestCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Tester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].TestManager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugs[0].Developer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bugs.OrderBy(i => i.Rating)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BugStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Severity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifyTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubProject.SubProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestCase.TestCaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tester.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestManager.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer.UserName)
            </td>
        </tr>
}
    </tbody>
</table>

<strong>
    Total: @ViewData["count"]
</strong>